stages:
  - test
  - build-sonar

pytest:
  stage: test
  image: python:3.12
  variables:
    PIP_DISABLE_PIP_VERSION_CHECK: "1"
    PIP_NO_CACHE_DIR: "1"
    PYTHONPATH: "$CI_PROJECT_DIR:$CI_PROJECT_DIR/api"
  before_script:
    - python -V
    - python -m venv .venv
    - . .venv/bin/activate
    - pip install -U pip
    # Prefer a CI-specific file, with fallbacks if you later add others
    - |
      if [ -f api/requirements-ci.txt ]; then
        pip install -r api/requirements-ci.txt
      elif [ -f api/requirements.txt ]; then
        pip install -r api/requirements.txt
      elif [ -f requirements.txt ]; then
        pip install -r requirements.txt
      fi
  script:
    - pytest api --maxfail=1 --disable-warnings --cov=api --cov-report=xml:coverage.xml
  artifacts:
    when: always
    paths:
      - coverage.xml
    expire_in: 1 week
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH

build-sonar:
  stage: build-sonar
  image:
    name: sonarsource/sonar-scanner-cli:11
    entrypoint: [""]
  needs: ["pytest"]   # wait for coverage.xml
  script:
    - sonar-scanner -Dsonar.host.url="${SONAR_HOST_URL}" -Dsonar.login="${SONAR_TOKEN}"
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
    GIT_DEPTH: "0"
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH
  allow_failure: true
  tags:
    - sonar