fastapi==0.115.*
uvicorn==0.32.*
fastapi-users==12.1.*
fastapi-users-db-sqlalchemy
SQLAlchemy>=2.0
aiofiles==22.1.*
pyvo==1.*
numpy==2.1.*
requests==2.32.*
cryptography==43.0.*
hiredis==3.2.*
authlib==1.4.*
itsdangerous
asyncpg
httpx==0.28.*
xmltodict==1.0.*
alembic==1.14.*
psycopg2-binary
astropy==6.1.*
pydantic==2.9.*
anyio==4.4.*
python-dotenv
redis
pydantic-settings
prometheus-fastapi-instrumentator
setuptools>=68
wheel
